---
import NameHeader from "@components/common/NameHeader.astro";
import SocialIcons from "@components/common/SocialIcons.astro";
import { getEntry } from "astro:content";

const author = await getEntry("authors", "elotoja");
const { Content } = await author.render();
---

<section id="about-me" class="mb-8">
  <NameHeader name={author.data.name} />
  <Content />
  <div class="mt-3">
    <SocialIcons author={author.data} />
  </div>
</section>
