---
import type { MarkdownHeading } from "astro";
export interface Props {
  heading: MarkdownHeading;
}

const { heading } = Astro.props;
---

<>
  {heading.depth >= 1 && heading.depth <= 4 ? (
      <li>
        {[...Array(heading.depth - 2)].map(_ => (
          <span>&nbsp;&nbsp;</span>
        ))}
        <a href={`#${heading.slug}`}>{heading.text}</a>
      </li>
    ) : <></>
  }
</>
