---
export interface Props {
  pages: number[];
  currentPage: number;
}

const { pages, currentPage } = Astro.props;
const firstPage = pages[0];
const lastPage = pages[pages.length - 1];
console.log(pages, currentPage);
---

<div class="join join-vertical lg:join-horizontal">
  {
    currentPage > firstPage ? (
      <a href={`/posts/${currentPage - 1}`}>
        <button class="btn join-item">Previous</button>
      </a>
    ) : (
      <button class="btn join-item">Previous</button>
    )
  }

  {
    pages.map(page => (
      <a href={`/posts/${page}`}>
        <button class="btn join-item">{page}</button>
      </a>
    ))
  }

  <button class="btn join-item">
    {
      currentPage < lastPage ? (
        <a href={`/posts/${currentPage + 1}`}>
          <button class="btn join-item">Next</button>
        </a>
      ) : (
        <button class="btn join-item">Next</button>
      )
    }
  </button>
</div>
