---
import type { CollectionEntry } from "astro:content";
import Calendar from "~icons/material-symbols/calendar-month-outline-rounded";
import Card from "./Card.svelte";

export type Props = {
  posts: CollectionEntry<"blog">[];
  sectionName: string;
  header: string;
};

const { posts, sectionName, header } = Astro.props;
---

<section id={sectionName} class="my-8">
  <h2>{header}</h2>
  <ul>
    {
      posts.map(post => {
        return (
          <Card href={`/blog/${post.slug}`} frontmatter={post.data}>
            <Calendar style="font-size: 1em" class="hover:" />
          </Card>
        );
      })
    }
  </ul>

  <slot />
</section>
