---
export type Props = {
	tags: string[];
};

const { tags } = Astro.props;
---

{
	tags.map(tag => (
		<a
			href={`/search?&tags=${JSON.stringify([tag])}`}
			class="text-secondary mr-2 no-underline hover:underline decoration-dashed">
			{`#${tag}`}
		</a>
	))
}
