{
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-svelte",
    "prettier-plugin-astro",
    "prettier-plugin-sort-imports"
  ],
  "tailwindConfig": "./tailwind.config.cjs",
  "tailwindFunctions": ["cn"]
}
