---
import Pagination from "@components/posts/Pagination.astro";
import PostCards from "@components/posts/PostCards.astro";
import { POSTS_PER_PAGE } from "@config";
import MainLayout from "@layouts/MainLayout.astro";
import BlogCollection from "@utils/blog";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const blogCollection = new BlogCollection();
  await blogCollection.getCollection();

  return paginate(blogCollection.getPosts(), {
    pageSize: POSTS_PER_PAGE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Posts">
  <h1 class="mt-8">Page {page.currentPage}</h1>
  <PostCards posts={page.data} sectionName="posts" />
  <Pagination lastPage={page.lastPage} currentPage={page.currentPage} />
</MainLayout>
