---
import ArticleLayout from "@layouts/ArticleLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);

  const postResult = posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));

  return [...postResult];
}

const { slug } = Astro.params;
const { post } = Astro.props;
---

<ArticleLayout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <p>{post.data.description}</p>
</ArticleLayout>
