---
import type { TocItem } from "@utils/generateToC";
import TocList from "./TocList.astro";

export type Props = {
  item: TocItem;
};

const { item } = Astro.props;
---

<li>
  <span class="font-bold">{item.numbers.join(".")}</span>
  <a
    href={`#${item.slug}`}
    class="text-secondary hover:underline decoration-dashed">{item.text}</a
  >
  {
    item.children && item.children.length > 0 && (
      <TocList items={item.children} />
    )
  }
</li>
