---
import { NAVBAR } from "@config";
import cn from "@utils/cn.js";

export type Props = {
  ulClass?: string;
  liClass?: string;
  activeClass?: string;
};

const { ulClass = "", liClass = "", activeClass = "" } = Astro.props;
---

<ul class={ulClass}>
  {
    NAVBAR.map(item => (
      <li class={cn(liClass, item.url === Astro.url.pathname && activeClass)}>
        <a href={item.url}>{item.title}</a>
      </li>
    ))
  }
</ul>
