---
import HamburgerOpen from "~icons/ic/baseline-menu";
import HamburgerClose from "~icons/ic/round-close";
---

<button
  id="hamburger-button"
  aria-label="open menu"
  aria-expanded="false"
  aria-controls="navbar"
  class="swap swap-rotate swap-active"
>
  <div class="swap-on">
    <HamburgerOpen />
  </div>
  <div class="swap-off">
    <HamburgerClose />
  </div>
</button>
