---
import LightMode from "~icons/ic/round-light-mode";
import DarkMode from "~icons/ic/round-dark-mode";
---

<button
  id="theme-button"
  aria-live="polite"
  aria-label="Toggle theme"
  class="swap swap-rotate"
>
  <div class="swap-on">
    <LightMode />
  </div>
  <div class="swap-off">
    <DarkMode />
  </div>
</button>

<script>
  function onLoad() {
    const themeButton = document.getElementById("theme-button");
    const changeIcon = (theme: string) => {
      if (theme === "dark") {
        themeButton?.classList.remove("swap-active");
      } else {
        themeButton?.classList.add("swap-active");
      }
    };

    const preferedTheme = window.matchMedia("(prefers-color-scheme: dark)")
      .matches
      ? "dark"
      : "light";
    let currentTheme = localStorage.getItem("theme") ?? preferedTheme ?? "dark";

    document.documentElement.setAttribute("data-theme", currentTheme);

    changeIcon(currentTheme);

    themeButton?.addEventListener("click", () => {
      currentTheme = currentTheme === "dark" ? "light" : "dark";

      document.documentElement.setAttribute("data-theme", currentTheme);
      localStorage.setItem("theme", currentTheme);

      changeIcon(currentTheme);
    });
  }

  onLoad();
</script>
