---
import MenuToggle from "./MenuToggle.astro";
import HeaderLinks from "./HeaderLinks.astro";
import ThemeToggle from "./ThemeToggle.astro";
import SearchLogo from "~icons/ic/baseline-search";
import Hr from "@components/Hr.astro";
---

<header class="py-3">
  <div class="flex justify-between flex-wrap">
    <div class="my-auto flex w-1/4">
      <a
        href="/"
        class="btn btn-ghost normal-case text-2xl md:text-3xl font-bold"
        >EloToJa</a
      >
    </div>
    <div class="md:hidden my-auto mr-3 flex">
      <MenuToggle />
    </div>
    <div id="navbar" class="hidden md:flex w-full md:w-3/4 justify-end">
      <nav class="mx-auto w-min md:mx-0 md:w-max">
        <HeaderLinks
          ulClass="menu menu-vertical md:menu-horizontal p-2 rounded-box text-lg"
          liClass="hover:bg-base-300 rounded-md mx-auto w-min"
          activeClass="font-bold underline underline-offset-4"
        />
      </nav>
      <div class="flex w-min mx-auto md:mx-0 md:w-max gap-x-2">
        <button aria-label="search">
          <a href="/search" title="Search">
            <SearchLogo />
          </a>
        </button>
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
<div class="mb-8">
  <Hr noPadding />
</div>

<script>
  function toggleMenu(open: boolean) {
    if (open) {
      hamburgerOpen?.classList.add("hidden");
      hamburgerClose?.classList.remove("hidden");
      navbar?.classList.remove("hidden");
    } else {
      hamburgerOpen?.classList.remove("hidden");
      hamburgerClose?.classList.add("hidden");
      navbar?.classList.add("hidden");
    }
  }

  let open = false;
  const hamburgerOpen = document.getElementById("hamburger-open");
  const hamburgerClose = document.getElementById("hamburger-close");
  const navbar = document.getElementById("navbar");
  const menuButton = document.getElementById("hamburger-button");

  menuButton?.addEventListener("click", () => {
    open = !open;
    menuButton?.setAttribute("aria-expanded", open.toString());
    menuButton?.setAttribute("aria-label", open ? "close menu" : "open menu");
    toggleMenu(open);
  });
</script>
