---
import HamburgerOpen from "~icons/ic/baseline-menu";
import HamburgerClose from "~icons/ic/round-close";
---

<button
  id="hamburger-button"
  aria-label="open menu"
  aria-expanded="false"
  aria-controls="navbar"
>
  <div id="hamburger-open">
    <HamburgerOpen />
  </div>
  <div id="hamburger-close" class="hidden">
    <HamburgerClose />
  </div>
</button>
