---
import CloseIcon from "../../icons/CloseIcon.astro";
import MenuIcon from "../../icons/MenuIcon.astro";
---

<button
  id="hamburger-button"
  aria-label="open menu"
  aria-expanded="false"
  aria-controls="navbar"
>
  <div id="hamburger-open">
    <MenuIcon iconClass="h-7" />
  </div>
  <div id="hamburger-close" class="hidden">
    <CloseIcon iconClass="h-8" />
  </div>
</button>
