---
import Icon from "astro-icon";
---

<button
  id="hamburger-button"
  aria-label="open menu"
  aria-expanded="false"
  aria-controls="navbar"
>
  <div id="hamburger-open">
    <Icon name="ic:baseline-menu" class="h-8"/>
  </div>
  <div id="hamburger-close" class="hidden">
    <Icon name="ic:round-close" class="h-8"/>
  </div>
</button>
