---
import DarkIcon from "../../icons/DarkIcon.astro";
import LightIcon from "../../icons/LightIcon.astro";

const iconClass = "h-8 hover:text-blue-700";
---

<button id="theme-button">
  <div id="light" class="hidden">
    <LightIcon iconClass={iconClass} />
  </div>
  <div id="dark" class="hidden">
    <DarkIcon iconClass={iconClass} />
  </div>
</button>

<script is:inline>
const THEME = {
  LIGHT: "light",
  DARK: "dark",
};

function toggleIcon(theme) {
  if (theme === THEME.DARK) {
    lightIcon.classList.add("hidden");
    darkIcon.classList.remove("hidden");
  } else {
    lightIcon.classList.remove("hidden");
    darkIcon.classList.add("hidden");
  }
}

const preferedTheme = window.matchMedia("(prefers-color-scheme: dark)")
  .matches
  ? THEME.DARK
  : THEME.LIGHT;
let currentTheme =
  localStorage.getItem("theme") ?? preferedTheme ?? THEME.DARK;
document.documentElement.setAttribute("data-theme", currentTheme);

const darkIcon = document.getElementById("dark");
const lightIcon = document.getElementById("light");

toggleIcon(currentTheme);

const themeButton = document.getElementById("theme-button");
themeButton.addEventListener("click", () => {
  currentTheme = currentTheme === THEME.DARK ? THEME.LIGHT : THEME.DARK;

  document.documentElement.setAttribute("data-theme", currentTheme);
  localStorage.setItem("theme", currentTheme);

  toggleIcon(currentTheme);
});
</script>
