---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.svelte";

export interface Props {
  posts: CollectionEntry<"blog">[];
  sectionName: string;
  header: string;
}

const {posts, sectionName, header} = Astro.props;
---

<section id={sectionName} class="mt-8">
  <h2>{header}</h2>
  <ul>
    {
      posts.map((post) => {
        return <Card href={post.slug} frontmatter={post.data}/>
      })
    }
  </ul>
</section>
