---
import MainLayout from "@layouts/MainLayout.astro";
import type { RestEndpointMethodTypes } from "@octokit/rest";
import GithubApi from "@utils/githubApi";

export interface Props {
  repository: RestEndpointMethodTypes["repos"]["listForAuthenticatedUser"]["response"]["data"][0];
}

export async function getStaticPaths() {
  const api = new GithubApi();
  const repositories = await api.getAllRepositories();

  if (!repositories) {
    return {
      params: [],
      props: [],
    };
  }

  const repoResult = repositories.map(repository => ({
    params: { name: repository.name.toLowerCase() },
    props: { repository },
  }));

  return [...repoResult];
}

const { repository } = Astro.props;
---

<MainLayout title="About">
  <h1>{repository.full_name}</h1>
  {repository.html_url && <a href={repository.html_url}>Github</a>}
</MainLayout>
