---
import MainLayout from "@layouts/MainLayout.astro";
import GithubApi from "@utils/githubApi";

export const prerender = false;

export interface Params {
  name: string;
}
const { name } = Astro.params;

const api = new GithubApi();
const user = await api.getAuthenticatedUser();
const repository = await api.getRepositoryInformation(user ?? "", name ?? "");
if (!repository || repository.visibility !== "PUBLIC") {
  return Astro.redirect("/status/404");
}
console.log(repository.nameWithOwner);
---

<MainLayout title="About">
  <h1>{repository.nameWithOwner}</h1>
  {repository.url && <a href={repository.url}>Github</a>}
</MainLayout>
