---
import Projects from "@components/projects/Projects.svelte";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Projects">
  <div class="pt-4"></div>
  <Projects pageSize={5} client:load />
</MainLayout>
