---
import Hr from "@components/common/Hr.astro";
import SocialIcons from "@components/common/SocialIcons.astro";
import { getEntry } from "astro:content";

const author = await getEntry("authors", "elotoja");
---

<Hr />

<footer class="flex flex-wrap justify-between py-2 px-2 space-y-2">
  <div class="my-auto pr-2">
    <span>Copyright © 2024</span>
    <span>|</span>
    <span>All rights reserved</span>
  </div>
  <div class="my-auto pb-2">
    <SocialIcons author={author.data} />
  </div>
</footer>
