---
import RssIcon from "~icons/mdi/rss-box";
import NewTabA from "./NewTabA.astro";

export type Props = {
  name: string;
};

const { name } = Astro.props;
---

<div class="flex">
  <h1>{name}</h1>
  <div class="my-auto ml-2">
    <NewTabA href="/rss.xml">
      <RssIcon />
    </NewTabA>
  </div>
</div>
