---
import RssIcon from "~icons/mdi/rss-box";
import NewTabA from "./NewTabA.astro";
---

<div class="flex">
  <h1>Łukasz Budziak</h1>
  <div class="my-auto ml-2">
    <NewTabA href="/rss.xml">
      <RssIcon />
    </NewTabA>
  </div>
</div>
