---
import ForwardArrowIcon from "~icons/material-symbols/arrow-forward";

export type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a href={href} class="flex items-center justify-center hover:text-accent">
  <span class="text-2xl font-bold my-auto pr-1">
    <slot />
  </span>
  <ForwardArrowIcon class="hover:" />
</a>
