---
import ForwardArrowIcon from "~icons/material-symbols/arrow-forward";

export type Props = {
  href: string;
};

const { href } = Astro.props;
---

<div class="mx-auto flex justify-center mt-4">
  <a href={href} class="flex hover:text-accent">
    <span class="text-2xl font-bold my-auto pr-1">
      <slot />
    </span>

    <ForwardArrowIcon class="hover:" />
  </a>
</div>
