@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply my-2 text-4xl font-bold;
}

h2 {
  @apply my-1 text-3xl font-semibold;
}

h3 {
  @apply my-0.5 text-2xl font-medium;
}

html[data-theme="dark"] .astro-code,
html[data-theme="dark"] .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
