---
import Datetime from "@components/datetime/Datetime.svelte";
import TableOfContents from "@components/posts/TableOfContents.svelte";
import "@styles/asides.css";
import "@styles/props.css";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import Calendar from "~icons/material-symbols/calendar-month-outline-rounded";
import MainLayout from "./MainLayout.astro";

export type Props = {
  headings: MarkdownHeading[];
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<MainLayout title={post.data.title}>
  <div class="flex justify-between mt-3">
    <article
      class="prose lg:prose-xl prose-h1:mb-4 prose-h2:mt-4 prose-h2:mb-2 dark:prose-invert"
    >
      <h1>{post.data.title}</h1>
      <Datetime datetime={post.data.pubDatetime} size="lg">
        <Calendar style="font-size: 1em" class="hover:" />
      </Datetime>
      <slot />
    </article>
    <TableOfContents client:load />
  </div>
</MainLayout>

<!-- <style>
  aside .toc .mobile > nav {
    background: black !important;
  }
</style> -->
