---
import Datetime from "@components/Datetime.svelte";
import Headings from "@components/Headings.astro";
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import Calendar from "~icons/material-symbols/calendar-month-outline-rounded";
import MainLayout from "./MainLayout.astro";

export interface Props {
  headings: MarkdownHeading[];
  post: CollectionEntry<"blog">;
}

const { post, headings } = Astro.props;
---

<MainLayout title={post.data.title}>
  <div class="flex justify-around mt-3">
    <article
      class="prose lg:prose-xl prose-h1:mb-4 prose-h2:mt-4 prose-h2:mb-2 dark:prose-invert text-justify grow"
    >
      <h1>{post.data.title}</h1>
      <Datetime datetime={post.data.pubDatetime} size="lg">
        <Calendar style="font-size: 1em" />
      </Datetime>
      <slot />
    </article>
    <Headings headings={headings} />
  </div>
</MainLayout>
