---
import MainLayout from "@layouts/MainLayout.astro";

export interface Props {
  status: number;
}

const { status } = Astro.props;
---

<MainLayout title={status.toString()}>
  <h1>{status}</h1>
  <slot />
</MainLayout>
