---
import { SITE_INFO } from "@config";
import "@fontsource-variable/fira-code";
import { SEO } from "astro-seo";
import "../base.css";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#000000" />
<meta name="generator" content={Astro.generator} />
<SEO
  title={SITE_INFO.name}
  description={SITE_INFO.description}
  twitter={{
    creator: "@elotoja_",
  }}
  extend={{
    link: [{ rel: "icon", href: "/favicon.svg", type: "image/svg+xml" }],
    meta: [],
  }}
/>
<title>{title}</title>
