---
import ThemeIcon from "../components/ThemeIcon.svelte";
import cn from "../utils/cn.js";

const navbar = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "About",
    url: "/about",
  },
  {
    title: "Contact",
    url: "/contact",
  },
];
---

<navbar class="navbar border-b-2 border-blue-700 py-4 mb-8">
  <div class="navbar-start">
    <div class="dropdown">
      <details class="dropdown md:hidden">
        <summary class="m-1 btn btn-ghost">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6"
            viewBox="0 0 448 512"
            ><path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
            ></path></svg
          >
        </summary>
        <ul
          class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-lg"
        >
          {
            navbar.map(item => (
              <li>
                <a
                  class={cn({
                    "font-bold": item.url === Astro.url.pathname,
                  })}
                  href={item.url}
                >
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-2xl md:text-3xl font-bold"
      >EloToJa</a
    >
  </div>
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal px-1 text-xl">
      {
        navbar.map(item => (
          <li>
            <a
              class={cn("hover:bg-base-300", {
                "font-bold underline underline-offset-4":
                  item.url === Astro.url.pathname,
              })}
              href={item.url}
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a href="/search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 md:h-7 hover:text-blue-700"
        viewBox="0 0 1664 1664"
        ><path
          fill="currentColor"
          d="M1152 704q0-185-131.5-316.5T704 256T387.5 387.5T256 704t131.5 316.5T704 1152t316.5-131.5T1152 704zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124q-143 0-273.5-55.5t-225-150t-150-225T0 704t55.5-273.5t150-225t225-150T704 0t273.5 55.5t225 150t150 225T1408 704q0 220-124 399l343 343q37 37 37 90z"
        ></path></svg
      >
    </a>
    <ThemeIcon client:load />
  </div>
</navbar>

<script is:inline>
document.documentElement.setAttribute(
  "data-theme",
  localStorage.getItem("theme") || "dark"
);
</script>
